# Site settings
course_code: ACOL316
course_name: "Introduction to Computer Architecture"
course_description: ""
course_semester: "Semester II, 2025-26"

baseurl: "/ACOL316-2502" # the subpath of your site, e.g. /blog/
url: "http://lcs2-iitd.github.io/" # the base hostname & protocol for your site

schoolname: "IIT Delhi - Abu Dhabi"
schoolurl: "https://iitdabudhabi.ac.ae/"
twitter_username: IITDAD123 

address: |
    Indian Institute of Technology Delhi - Abu Dhabi
    Address: Khalifa City B, Abu Dhabi, UAE
    Phone: +971 2 495 8510 (UAE) | +91 11 2659-7135 (India)


# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
